/* Aula 24 de JS */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

/*======REST======*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  transition: all 0.3s linear;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  height: 100%;
  max-width: 100%;
}

/*=========VARIABLES==========*/
:root {
  --ff-family: "Roboto", sans-serif;
  --bg: hsl(250, 15%, 92%);
  --gradient: linear-gradient(225deg, #313860 0%, #11172b, 100%);
  --primary: hsl(231, 32%, 28%);
  --secondary: hsl(167, 89%, 48%);
  --textLight: hsl(0, 0%, 77%);
  --cardBg: #11172b;
}

/*=========BASE==========*/
html{
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-family);
  background-color: var(--bg);
}

h1 {
  text-align: center;
  margin-block: 2rem;
  color: var(--textLight);
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
}

/*=========SECTION==========*/
main {
  margin: 5rem auto;
  padding: 1rem 8%;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
  width: 100%;
  max-width: 95rem;
  margin: 0 auto;
}

/*=========CARD==========*/
.card {
  /* 0 (nao) aumentar, 1 (sim) diminuir, 230px tamanho base */
  width: 100%;
  height: 100%;
  margin: 1rem;
  padding: 1rem;
  border-radius: 8px;
  background: var(--cardBg);
  border: 5px solid var(--primary);
  box-shadow: 0 0 5px #222;
  color: #191919;
  font-size: 0.95rem;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card img {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  border: 0.2rem solid var(--secondary);
  margin-bottom: 1rem;
  object-fit: cover;
  object-position: top;
  user-select: none;
}

.card h3,
.card h2 {
  background: #fff;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 0.625rem;
  text-align: center;
  user-select: none;
}

.card h2 {
  font-size: 1.1rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team {
  background-color: transparent !important;
  color: var(--secondary);
}

/*===========FOOTER===========*/
footer{
height: 2rem;
}
footer p{
  text-align: center;
  color: var(--textLight);
}
/*===========MEDIA QUERY===========*/
@media (max-width: 768px) {
  section {
    grid-template-columns: 1fr;
  }
    h1 {
      font-size: 1.5rem;
    }
}